html{margin: 0; 
     color: #666666;
     font-family: '微软雅黑';
     font-size: 1em;
     line-height: 1.5em;}
body{margin: 0;  background-color: #F5F5F5;  min-width: 980px;}
a:link { 
    font-size: 12px; 
    color: #000000; 
    text-decoration: none; 
} 
a:visited { 
    font-size: 12px; 
    color: #000000; 
    text-decoration: none; 
} 
a:hover { 
    font-size: 12px; 
    color: #999999; 
    text-decoration: underline; 
} 
.menu h2{  float: left;
           margin: 22px 15px 40px 30px;}
/*.menu .cur{box-shadow: 10px 10px 5px #888991;}*/

header{  width: 980px;
         margin: 0 auto;
         height: 67px;}

.list{  height: auto;
        width: 850px;
        margin: 0 auto;}
.list li{cursor: pointer}

.list li:hover{box-shadow: 10px 10px 5px #888991;} 

code{text-indent: 2em;
     display: block;
     border: 1px solid;
     background: black;
     color: #fff;
     line-height: 30px;
     border-radius: 0.5em;}

ol li{ list-style-position:outside;}